/* Inicio About */
#AboutUs{
    padding: 90px 0;
    background-color: #e7e2d6;
}
#container-img{
    border: 1px solid crimson;
    height: 300px;
    width: 300px;
}
#container-text{
    padding: 30px;
}

/* Inicio Form */
#Formulario{
    background-color: #333333;
    padding: 30px;
}
#container-form{
    height: 100%;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background:  transparent;
    font-size: 15px;
}
label{
    color: #fff;
    cursor: text;
}
button{
    padding: 10px 0;
    color: #fff;
    border: 1px solid #fff;
    outline: 0;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

/* Inicio Mapa */
#Mapa{
    height: 450px;
    width: 100%;
    background-color: #e7e2d6;
}
#container-map{
    height: 80%;
}

/*FormularioEstilos*/
.controlador-form p {
    visibility: hidden;
    font-size: small;
    font-weight: 500;
    float: right;
}
.controlador-form.falla p {
    visibility: visible;
    color:#e74c3c;

}
.controlador-form.ok input {
    border: 1px solid;
    border-color: #08ffc8;
}
.controlador-form.ok textarea {
    border: 1px solid;
    border-color: #08ffc8;
}
.controlador-form.falla input {
    border: 1px solid;
    border-color: #fe5f55;
}
.controlador-form.falla textarea {
    border: 1px solid;
    border-color: #fe5f55;
}