#sec-Filters{
  background-color: whitesmoke;
  padding-bottom: 20px;

}
#sec_Product{
  background-color: whitesmoke;
}

/* Sobreescribir carta de producto */
.card{
  width: 17rem;
  margin: 20px 10px;
}

/* Form de categorias */
.form-group{
  margin: 15px;
}
.form-group label{
  border: #E31E45 2px solid ;
  cursor: pointer;
  padding: 8px;
  border-radius: 3em;
  color: #E31E45;
  background-color: transparent;
}
.form-group input{
  display: none;
}
.active > label{
  background-color: #E31E45;
  color: whitesmoke;

}
